# Database
POSTGRES_USER=attendance_user
POSTGRES_PASSWORD=your_strong_password_here
POSTGRES_DB=attendance_db
DATABASE_URL=postgresql+asyncpg://attendance_user:your_strong_password_here@db:5432/attendance_db

# JWT
SECRET_KEY=your_secret_key_minimum_32_chars_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Google OAuth
GOOGLE_CLIENT_ID=291635293570-f2ng0herj90g22t9oh05njonaas4l8dj.apps.googleusercontent.com
